<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Blaze Demo">
    
    <test name="Book Flight">
         <classes>
             <class name="com.maersk.assignment.tests.OpenWeatherAPITest"/>
             <class name="com.maersk.assignment.tests.BlazeDemoOrder"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
